<!-- Imported objects: links, users -->
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
  <body>
    <%- include('navbar', {links: links})%>
    <div>
        <ul>
            <% users.forEach((user) => { %>
              <%- include('users/user', {user: user}); %>
            <% }); %>
          </ul>
    </div>
    <%- include('footer', {footerText1: "Home", footerText2: "About", footerText3: "Contact Us"})%>
  </body>
</html>